.onboarding1-container {
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 30% 50%;
        grid-template-areas:
          'sidebar onboading';
        width: 100%;
        height: 100vh;
}

.onboarding-logo {
    display: flex;
    justify-content: flex-start !important;
}

.onboarding-logo img {
    width: 60%;
    text-align: left !important;
}

.section-left {
    margin-right: 4rem;
    background: linear-gradient(to bottom right, #4308EB 40%, #ED00E3 90%);
}

.section-right {
    /* display: flex;
    justify-content: center; */
    max-width: 600px;
    width: 100%;
    padding-bottom: 4rem;
}

.onboarding1-container h3 {
    font-size: 20px;
    font-family: lato;
}

.onboarding1-container p {
    font-size: 14px;
    color: #101010;
}

.onboarding1-container label {
    display: block;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
}

.onboarding1-container input[type="text"], .onboarding1-container select {
    width: 100%;
    padding: 11px;
    outline: none;
    background: 
    linear-gradient(#f5f5f5 0 0) padding-box,
    linear-gradient(to right, #9c20aa, #fb3570) border-box;
    color: #7b7b7b;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
}

.onboarding-button {
    text-align: right;
}

.onboarding1-container button {
    border-radius: 4px;
}

.use-options {
    padding: 11px 20px;
    font-size: 14px;
}

.onboarding1-container button.proceed {
    font-size: 14px;
    background-color: #4308EB;
    color: #fff;
    padding: 0.85rem 2.75rem;
    border-radius: 4px;
}

#back-button {
    font-size: 14px;
    padding: 0.7875rem 2.6875rem;
    color: #7b7b7b;
    border: 1px solid #d9d9d9;
    background-color: #f5f5f5;
}

.options-buttons {
    display: flex;
    justify-content: space-between;

}

div[class="countries-added-items"] {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 12px;
}

div[class="continent-added-items"] {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}

div[class="countries-added-items"] span.added-countries {
    background-color: #d9d9d9;
    color: #7b7b7b;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: montserrat, sans-serif;
    font-size: 11px;
    font-weight: 600;
}

.continent-added-items span.added-continents {
    background-color: #4308EB;
    color: white;
    display: flex;
    border-radius: 4px;
    padding: 3px 7px;
    font-family: montserrat, sans-serif;
    font-size: 11px;
    font-weight: 500;
}

div[class="countries-added-heading"] p {
    color: #979797;
    margin-top: 13px;
}

.add-region-bg {
    position: relative;
}

.add-region-btn {
    background-color: #fff;
    padding: 12px 15px;
    /* border: 1px solid #000;
    box-shadow: #000000 0px 0px 10px;
    opacity: 0.5; */
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 14px;
}

.plus-region-btn {
    background-color: #fff;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 500;
    /* border: 1px solid #000;
    box-shadow: #000000 0px 0px 10px;
    opacity: 0.5; */
}

.region-item {
    position: relative;
    background-color: #fff;
    width: 100%;
    border-left: 6px solid #4308EB;
    border-radius: 4px;
    margin-bottom: 1rem;
    /* padding: 18px 26px; */
}

.region-item p {
    padding: 18px 26px;
    width: 80%;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 600;
    color: #373737;
}

.role-item p {
    padding: 12px 23px;
    width: 80%;
    font-size: 13px;
    font-weight: 600;
    color: #373737;
}

.role-item p span.role {
    font-size: 9px;
    font-weight: 400;
    background: linear-gradient(to right, #4308EB 0%, #ED00E3 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.manage-btn {
    position: absolute;
    top: 22%;
    right: 5%;
    color: #7b7b7b;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    font-size: 12px;
    padding: 5px 18px;
    font-weight: 500;
    cursor: pointer;
}

.members-item {
    display: flex;
    align-items: center;
    padding: 5px 0;
    width: 60%;
}

.members-class {
    font-size: 6px;
    color: #fff;
    background-color: #87E0B0;
    border-radius: 2px;
    padding: 3px 5px;
    margin-left: 10px;
}